[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackag
Packages/
*.dll
*.exe
[Ll]inux/
[Ww]indows/
[Mm]acOS/
*~
tmp/
Standard Assets/
Standard Assets.meta
UnityPackageManager/
classes/
*.jar
Gemfile
_site
.sass-cache
.jekyll-metadata
_posts
.~lock*
*.lock
